<div *ngIf="hero != null; else notFound">

    <h2>{{hero.name | uppercase}} Details</h2>
    <div>
        <span>id: </span>{{hero.id}}
    </div>
    <form method="POST" action="/savehero">
        <div>
            <label>name:
                <input type="text" [readonly]="readonly ? 'readonly' : null" name="name" autofocus [value]="hero.name" placeholder="name">
                <input type="hidden" name="id" [value]="hero.id">
            </label>
        </div>
        <button *ngIf="!readonly" type="submit">save</button>
    </form>
</div>

<ng-template #notFound>
    <p class="error">Hero could not be found.</p>
</ng-template>

<!-- just a tiny little bit of JavaScript -->
<button onclick="history.back()">go back</button>