<ul class="heroes">
	<li *ngFor="let hero of heroes"><a
		[routerLink]="'detail/' + hero.id"> <span class="badge">{{hero.id}}</span>
			{{hero.name}}
	</a></li>
</ul>


<!--

	original toh stage 1: select hero when clicked
 
<h2>My Heroes</h2>
<div class="heroes">
	<button *ngFor="let hero of heroes; index as heroIndex" [class.selected]="hero == selectedHero" (click)="selecthero">
		<input type="hidden" name="heroIndex" [value]="heroIndex">
		<span class="badge">{{hero.id}}</span> {{hero.name}}
	</button>
</div>
 -->
